<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!-- Servlet mappings -->
    <servlet>
        <display-name>servletListadoVid</display-name>
        <servlet-name>servletListadoVid</servlet-name>
        <servlet-class>controller.servletListadoVid</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletListadoVid</servlet-name>
        <url-pattern>/servletListadoVid</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>servletRegistroVid</display-name>
        <servlet-name>servletRegistroVid</servlet-name>
        <servlet-class>controller.servletRegistroVid</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletRegistroVid</servlet-name>
        <url-pattern>/servletRegistroVid</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>servletUsuarios</display-name>
        <servlet-name>servletUsuarios</servlet-name>
        <servlet-class>controller.servletUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletUsuarios</servlet-name>
        <url-pattern>/servletUsuarios</url-pattern>
    </servlet-mapping>
    
    <!-- **** -->
    <welcome-file-list>  
        <welcome-file>index.html</welcome-file>  
    </welcome-file-list>
<!--    <servlet-mapping>
        <servlet-name>listadoVid</servlet-name>
        <url-pattern>/servletListadoVid</url-pattern>
    </servlet-mapping>-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
